Flask
Flask-Login
Flask-WTF
Flask-SQLAlchemy
Werkzeug
APScheduler
requests
pandas
numpy
scikit-learn
shapely
geopandas
folium
alphashape
pyproj
xarray
georinex
flake8
pytest-cov
pytest
mypy
beautifulsoup4
gunicorn
